/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: oswald;
    src: url("../src/assets/fonts/oswald/Oswald-Regular.ttf") format("truetype");
}
body{
    margin:0;
    font-family: oswald, sans-serif
}